*{
  margin: 0;
  padding: 0;
}

.container{
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formdata{
    /* width: 30%; */
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid red; */
    padding: 20px;
    font-size: 20px;
}
.inputFiled{
  padding: 8px;
  width: 200px;
}

.loginButton{
  padding: 8px;
    background: #04bb04;
    color: white;
    font-size: large;
    font-weight: 700;
    border: none;
}